/vendor/
/.env
/storage/logs/*
!/storage/logs/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/storage/uploads/*
!/storage/uploads/.gitkeep
/storage/bin/ffmpeg.exe
__pycache__/
*.pyc
claude_skills.txt
